<div id="main-content" class="wiki-content">

    <div class="wiki-content">
        <p>
            <strong>I. Informacje podstawowe</strong>
        </p>
        <div class="table-wrap">
            <div class="table-wrap">
                <table class="confluenceTable">
                    <tbody>
                        <tr>
                            <td colspan="1" class="confluenceTd">
                                <span style="color: rgb(0,0,0);">Bieżąca wersja na PRD (przed rozpoczęciem aktualizacji)</span>
                            </td>
                            <td colspan="1" class="confluenceTd">                                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="confluenceTd">Oczekiwany numer wersji (po aktualizacji, git tag)</td>
                            <td colspan="1" class="confluenceTd">
                                <h3 id="id-2018-12-1417:31(v99.647)(test)-c99.123456">
                                    <span style="color: rgb(0,128,0);">
                                        ##NEW_VERSION##<br />
                                    </span>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="confluenceTd">Branch źródłowy</td>
                            <td colspan="1" class="confluenceTd">
                                <strong>master</strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="confluenceTd">Release note</td>
                            <td colspan="1" class="confluenceTd">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            <br />
        </p>
        <p>
            <strong>
                <br />
            </strong>
        </p>
        <p>
            <strong>II. Uwagi do aktualizacji</strong>
        </p>
        <div class="table-wrap">
            <div class="table-wrap">
                <table class="confluenceTable tablesorter tablesorter-default stickyTableHeaders" style="padding: 0.0px;">
                    <thead class="tableFloatingHeaderOriginal">
                        <tr class="tablesorter-headerRow">
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Zgłaszający</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Treść</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Dotyczy</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <thead class="tableFloatingHeader" style="display: none;">
                        <tr class="tablesorter-headerRow">
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Zgłaszający</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Treść</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Dotyczy</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="1" class="confluenceTd">&nbsp;Przemek Walkowski</td>
                            <td colspan="1" class="confluenceTd">
                                <p>                            ##REALESE_NOTE##                        </p>
                            </td>
                            <td colspan="1" class="confluenceTd">                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>&nbsp;</p>
        <h3 id="id-2018-12-1417:31(v99.647)(test)-III.WywołanieskryptówSQL:">III. Wywołanie skryptów SQL:</h3>
        <div class="table-wrap">
            <div class="table-wrap">
                <table class="confluenceTable tablesorter tablesorter-default stickyTableHeaders" style="padding: 0.0px;">
                    <thead class="tableFloatingHeaderOriginal">
                        <tr class="tablesorter-headerRow">
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Nazwa pliku</p>
                                </div>
                            </th>
                            <th style="text-align: right;" class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col">
                                <div class="tablesorter-header-inner">
                                    <p>wywołanie od wiersza nr</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <thead class="tableFloatingHeader" style="display: none;">
                        <tr class="tablesorter-headerRow">
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Nazwa pliku</p>
                                </div>
                            </th>
                            <th style="text-align: right;" class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col">
                                <div class="tablesorter-header-inner">
                                    <p>wywołanie od wiersza nr</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="1" class="confluenceTd">Translations</td>
                            <td style="text-align: right;" colspan="1" class="confluenceTd">1</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="confluenceTd">Schema2</td>
                            <td style="text-align: right;" colspan="1" class="confluenceTd">##SCHEMA_ENDLINE_NUMBER##</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="confluenceTd">Dictionaries</td>
                            <td style="text-align: right;" colspan="1" class="confluenceTd">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="confluenceTd">&nbsp;</td>
                            <td colspan="1" class="confluenceTd">
                                <p>&nbsp;</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <h3 id="id-2018-12-1417:31(v99.647)(test)-IV.Zmianyweb.config">
            <br />IV. Zmiany web.config
        </h3>
        <p>##WEB_CONFIG_CHANGES##</p>
        <h3 id="id-2018-12-1417:31(v99.647)(test)-V.Uwagipoaktualizacji">V. Uwagi po aktualizacji</h3>
        <div class="table-wrap">
            <div class="table-wrap">
                <table class="confluenceTable tablesorter tablesorter-default stickyTableHeaders" style="padding: 0.0px;">
                    <thead class="tableFloatingHeaderOriginal">
                        <tr class="tablesorter-headerRow">
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Zgłaszający</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Treść</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Dotyczy</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <thead class="tableFloatingHeader" style="display: none;">
                        <tr class="tablesorter-headerRow">
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Zgłaszający</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Treść</p>
                                </div>
                            </th>
                            <th class="confluenceTh tablesorter-header sortableHeader tablesorter-headerUnSorted" scope="col" style="">
                                <div class="tablesorter-header-inner">
                                    <p>Dotyczy</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="confluenceTd">&nbsp;</td>
                            <td class="confluenceTd">&nbsp;</td>
                            <td class="confluenceTd">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>